<div class="container mt-5">
  <div class="heading mb-4">
    <h2>FILE UPLOAD</h2>
  </div>
  <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
    <ngx-dropzone-label *ngIf="!errorMsg">Drop files, here!</ngx-dropzone-label>
    <ngx-dropzone-label *ngIf="errorMsg" style="color: red;">{{ errorMsg }}</ngx-dropzone-label>

    <ng-container *ngFor="let f of files">
      <ng-container *ngIf="f.type.startsWith('image/')">
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
          (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ng-container>

      <ng-container *ngIf="f.type.startsWith('video/')">
        <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
          (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-video-preview>
      </ng-container>
    </ng-container>
  </ngx-dropzone>

  <div *ngIf="uploadProgress !== undefined">
    <div class="progress-bar-container">
      <progress max="100" [value]="uploadProgress" class="custom-progress-bar"></progress>
      <span> {{uploadProgress}}%</span>
    </div>
  </div>

  <div class="success-error-msg">
    <p class="text-center success-msg">{{showSuccessMessage}}</p>
    <p class="text-center text-danger">{{uploadError}}</p>
  </div>

  <div class="btn">
    <a type="button" class="custom-button" (click)="uploadFiles()">Upload Files</a>
  </div>
</div>
<hr>